.App {
  margin: 20px;
}

.currentPos {
  background: #ddd;
  border-radius: 6px;
  padding: 20px;
}
.link__external {
  vertical-align: middle;
}

.currentWeather {
  background: #ccc;
  border-radius: 6px;
  padding: 20px;
  margin: 40px 0 0;
}

.forecastWeather {
  background: #bbb;
  border-radius: 6px;
  padding: 20px;
  margin: 40px 0 0;
  overflow: scroll;
}
